.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

input, button {
    font-size: 20px;
}

body {
    margin: 0;
}

#gameContainer {
    width: 1000px;
    height: 800px;
    background-color: aqua;
}

.food {
    background-color: red;
    position: absolute;
    width: 30px;
    height: 30px;
}

