.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: blue;
    top:100px;
    left:100px;
    position: absolute;
}

#addCircle {
    width: 200px;
    height: 200px;
}