.container {
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.circle {
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.circle.hover {
    background-color: green;
}

.circle.clicked {
    width: 200px;
    height: 200px;
    transition: all 0.5s ease;;
}

#textInput {
    margin: auto;
    outline: solid 1px black;
    display: block;
    
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .circle:hover {
    display: none;
  }
  